@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{font-family:'Nunito', sans-serif;}
:root{
    --font-color:#474950;
    --second-color:#a9a7b1;
}
body{
    margin: 0px;
    padding: 0px;
    background-color:rgb(236, 236, 236);
    height: 150vh;
    
}
.clearfix{clear: both;}
.resume-box{
    width: 800px;
    height: 1200px;
    padding: 50px;
    margin: 0 auto;
    background-color:white;
    
}
.box-outer{padding: 30px;}
.box-1{
    width: 30%;
    float: left;
    height: 1000px;
    padding-right: 39px;
    
}
.box-2{
    width: 60%;
    float: left;
    padding:0px 20px;
}
.name{
    letter-spacing: 5px;
    font-family: arial;
    color: var(--font-color);
    line-height: 39px;
    margin: 20px 0px 0px 20px;
    float: left;
    font-weight: 900;
}
.contat_p{color: var(--font-color);}
.fontfa{
    padding: 8px;
    background: var(--font-color);
    color: white;
    border-radius: 15px;
    width: 14px;
    text-align: center;
}
.name_p{
    margin: 3px 0px 0px 20px;
    float: left;
    text-transform: uppercase;
    color: var(--font-color);
    letter-spacing: 2px;
}
.profile{
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 10px;
    border: 3px solid var(--font-color);
    margin-top: 15px;
}
.content{padding: 0px;}
h1{
    color: var(--font-color);
    font-weight: 300;
    text-transform: uppercase;
}
p{
    color: var(--font-color);
    font-weight: 300;
    font-size: 14px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}
ul:before{
    content: "";
    display:inline-block;
    width : 2px;
    background: #47494f2b;
    position: absolute;
    left: 3px;
    top: 5px;
    height: calc(100% - 10px);
}
ul li{
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
}
ul li:before{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background: var(--second-color);
    position: absolute;
    left: -1px;
    top: 5px;
    border-radius: 10px;
}

#progress, #progress1, #progress2, #progress3{
    background: #47494f00;
    height: 5px;
    width: 100%;
    border: 1px solid #c0c1c3;
}
#progress::after, #progress1::after, #progress2::after, #progress3::after{
    content: '';
    display: block;
    background: var(--second-color);
    height: 100%;
}
#progress:after{width: 50%;}
#progress1:after{width: 60%;}
#progress2:after{width: 80%;}
#progress3:after{width: 90%;}
.col-sm-6{
    width: 50%; float: left;
}
.head{
    color: var(--font-color);
    font-weight: 600;
    text-transform: uppercase;
    font-family: arial;
    font-size: 25px;
    letter-spacing: 3px;
}
.para-1{
    font-size: 14px;
    text-transform: uppercase;
    color: black;
    font-weight: 400;
    margin: 5px 0px;
    margin-top: 10px;
}
.para-2{
    font-size: 14px;
    text-transform: capitalize;
    color: var(--second-color);
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0px;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background: #e1ecf2;
}

.wrapper{
  margin: 10px;
}

.wrapper .top_navbar{
  width: calc(100% - 20px);
  height: 60px;
  display: flex;
  position: fixed;
  top: 10px;
}

.wrapper .top_navbar .hamburger{
  width: 70px;
  height: 100%;
  background: #2e4ead;
  padding: 15px 17px;
  border-top-left-radius: 20px;
  cursor: pointer;
}

.wrapper .top_navbar .hamburger div{
  width: 35px;
  height: 4px;
  background: #92a6e2;
  margin: 5px 0;
  border-radius: 5px;
}

.wrapper .top_navbar .top_menu{
  width: calc(100% - 70px);
  height: 100%;
  background: #fff;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.wrapper .top_navbar .top_menu .logo{
  color: #2e4ead;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
}

.wrapper .top_navbar .top_menu ul{
  display: flex;
}

.wrapper .top_navbar .top_menu ul li a{
  display: block;
  margin: 0 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #2e4ead;
  border-radius: 50%;
  color: #2e4ead;
}

.wrapper .top_navbar .top_menu ul li a:hover{
  background: #4360b5;
  color: #fff;
}

.wrapper .top_navbar .top_menu ul li a:hover i{
  color: #fff;
}

.wrapper .sidebar{
  position: fixed;
  top: 70px;
  left: 10px;
  background: #2e4ead;
  width: 200px;
  height: calc(100% - 80px);
  border-bottom-left-radius: 20px;
  transition: all 0.3s ease;
}

.wrapper .sidebar ul li a{
    display: block;
    padding: 20px;
    color: #fff;
    position: relative;
    margin-bottom: 1px;
    color: #92a6e2;
    white-space: nowrap;
}

.wrapper .sidebar ul li a:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: #92a6e2;
  display: none;
}

.wrapper .sidebar ul li a span.icon{
  margin-right: 10px;
  display: inline-block;
}

.wrapper .sidebar ul li a span.title{
  display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
  background: #4360b5;
  color: #fff;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
  display: block;
}

.wrapper .main_container{
  width: (100% - 200px);
  margin-top: 70px;
  margin-left: 200px;
  padding: 15px;
  transition: all 0.3s ease;
}

.wrapper .main_container .item{
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}

.wrapper.collapse .sidebar{
  width: 70px;
}

.wrapper.collapse .sidebar ul li a{
  text-align: center; 
}

.wrapper.collapse .sidebar ul li a span.icon{
  margin: 0;
}

.wrapper.collapse .sidebar ul li a span.title{
  display: none;
}

.wrapper.collapse .main_container{
  width: (100% - 70px);
  margin-left: 70px;
}
